body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#projectList, #taskList {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}
